@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 222 100% 97%;
    --foreground: 222 70% 20%;
    --card: 0 0% 100%;
    --card-foreground: 222 70% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 70% 20%;
    --primary: 222 93% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 20% 96%;
    --secondary-foreground: 222 93% 47%;
    --muted: 220 20% 96%;
    --muted-foreground: 0 1% 42%;
    --accent: 0 1% 52%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 90%;
    --input: 220 20% 90%;
    --ring: 222 93% 47%;
    --chart-1: 222 93% 47%;
    --chart-2: 0 1% 52%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 222 93% 47%;
    --sidebar-foreground: 222 20% 95%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 222 93% 47%;
    --sidebar-accent: 222 93% 55%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 222 93% 47%;
    --sidebar-ring: 222 93% 47%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 222 93% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 0 1% 52%;
    --accent: 0 1% 52%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217.2 32.6% 25.5%;
    --input: 217.2 32.6% 22.5%;
    --ring: 222 93% 60%;
    --chart-1: 222 93% 60%;
    --chart-2: 0 1% 52%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 210 40% 98%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217.2 32.6% 17.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 17.5%;
    --sidebar-ring: 222 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
